<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Admin Interface</title>
    <style>

        .center-label {
            display: inline-block;
            width: 150px;
            text-align: right;
        }

        /*Style for the main page*/
        main{
            margin: 20px auto;
            text-align: center; 
        }
        table{
            margin: 50px auto;
        }
        table, th, td{
            border-collapse: collapse;
            border: 1px solid #000
        }
        th, td{
            padding: 5px;
        }

        

    </style>
</head>
<body>

    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/admin">Admin Interface</a></li>
                <li><a href = "/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <h2>Our Sales Associates</h2>
        <div>
            <input placeholder="search by name"
            id="search-input">
            <button id="search-btn">Search</button>
        </div>
        <table id="table">
            <thead>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Commission</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <% for(let i = 0; i < locals.employees.length; i++) { %>
                <tr>
                    <td><%= locals.employees[i].employeeID %></td>
                    <td><%= locals.employees[i].username %></td>
                    <td><%= locals.employees[i].name %></td>
                    <td><%= locals.employees[i].contact %></td>
                    <td><%= locals.employees[i].address %></td>
                    <td><%= locals.employees[i].commission %></td>
                    <td><a href="#" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                        </a></td>
                        <td><button onclick="confirmRemoveEmployee('<%= locals.employees[i].employeeID %>', '<%= locals.employees[i].name %>')" href="#" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span> Remove
                          </button>
                          </td>
                </tr>
            <% }%>
        </table>
        <tbody></tbody>
        <br>
        <h3>Add a new employee:</h3>
        <p><%= locals.addEmployeeText %></p>
        <form method="POST" action="/admin/add_employee">
            <label class="center-label">Name</label>
            <input type="text" id="name_input" name="name_input"><br>
            <label class="center-label">Username</label>
            <input type="text" id="username_input" name="username_input"><br>
            <label class="center-label">Password</label>
            <input type ="text" id="password_input" name="password_input"><br>
            <button type="submit">Add New Employee</button>
        </form>


        <script>
            function confirmRemoveEmployee(employeeID, employeeName) {
                if (confirm("Are you sure you want to remove the employee " + employeeName + "?") == true) {
                    // create a new XMLHttpRequest object
                    let xhr = new XMLHttpRequest();
                    // Send a post request via javascript
                    xhr.open("POST", "/admin/remove_employee", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    let payload = {employeeID: employeeID};
                    xhr.send(JSON.stringify(payload));

                    // Handle the response from the server
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            // Reload the page to update the table
                            location.reload();
                        }
                    };
                  
                }
            }
        </script>
    </main>
    <script src="adminInterface.js"></script>
</body>
</html>